@import "tailwindcss";

@theme inline {
  --color-base-background: #0b0c10;
  --color-container-cards: #1f2833;
  --color-primary-text: #ffffff;
  --color-muted-text: #c5c6c7;
  --color-sniper-highlight: #00ffa3;
  --color-alert-red: #ff4a4a;
  --color-bonus-reiz: #ffd700;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html,
body {
  @apply bg-base-background text-primary-text font-sans;
}
